* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
    
    

}
body{
  
   
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
 
}
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    z-index: 99;

   
    
   
  }

  .logo {
    font-size: 50px;
    font-weight: 900;
    font-family: 'Cairo', sans-serif;
  }
 nav a {
    margin-left: 30px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    color: yellow;
    font-family: 'Cairo', sans-serif;
 }
 nav a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 3px;
    width: 0;
    background-color: yellow;
    transition: .5s;
 }
 nav .active::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: yellow;
    transition: .5s;
 }
 nav a:hover::after{
    width: 100%;
 }

 .contents {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
 }
 /* --------------textes***********/

 .contents .texts {
    width: 40%;
    transform: scale(0);
    margin-left: 100px;
    transition: .5s;
 }

 .contents .texts h3 {
    font-size: 45px;
    font-family: 'cairo', sans-serif;
 }
 .contents .texts h1 {
    font-size: 100px;
 }
 .contents .texts p{
    font-size: 25px;
 }
  .icons  {
  margin:20px 0 ;
  
  }
  .icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    margin-left: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 7px black;
    background-color: black;
    border: 2px yellow solid;
    color: yellow;
  }
  .icons a:hover {
    box-shadow: 0px 0px 7px black;
    background-color: yellow;
    border: 2px black solid;
    color: rgb(2, 2, 2);
  }

 button {
    padding: 10px 30px;
    box-shadow: 0 0 10px black;
    background-color: black;
    border: 4px yellow solid;
    color: yellow;
    border-radius: 30px;
    transition: all 1s;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'cairo',sans-serif;
    
  }
  button:hover {
    border: 4px black solid;
    background-color: yellow;
    color: black;
  }
/*-------shapes********/

.shapes {
 width: 55%;
 height: 100vh;
 position: relative;
 
}
.shapes .triangle {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom:480px solid  rgb(0, 0, 0) ;
    border-top: 480px solid  rgb(0, 0, 0) ;
    border-left: 480px solid transparent ;
    border-right: 480px solid  rgb(0, 0, 0) ;
    z-index: 2;
}

.cyrcle {
    width: 500px;
    height: 500px;
    position: absolute;
    border-radius: 50%;
    border: 10px solid black;
    top: 25%;
    left: 180px;
    z-index: 0;
    animation: seddik 10s ease infinite;
}


span:nth-child(1){
    position: absolute;
    left: -110px;
    top: 40%;
    background-color: yellow;
    font-size: 30px;
    padding: 10px 0;
    font-weight: 800;
    font-family: 'cairo',sans-serif;
}

span:nth-child(2){
    font-family: 'cairo',sans-serif;
    position: absolute;
    background-color: yellow;
    font-size: 30px;
    right: -110px;
    padding: 10px 0;
    top: 50%;
    transform: rotate(180deg);
    font-weight: 800;
} 

.shapes .image {
    position: absolute;
    bottom: -5px;
    z-index: 10;
    width: 100%;
    
    right:-200px;
    
}
.shapes .image img {
    width: 0%;
    transition: .5s;
      
}

@keyframes seddik {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-180deg);}
    100%{transform: rotate(-360deg);}
}

/********* about-me *********/
.about-me {
  width: 100%;
  height: 100vh;
  background-color: yellow;
  display: flex;
  padding-top: 200px;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
 
}
.about-me::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0px;
  left: 0;
  background-color: black;
}

.about-me .three {
 filter: drop-shadow(10px 10px 25px black);
}
.about-me .three .wrapper{
  width: 600px;
  height: 600px;
  background-color: yellow;
  border-radius: 40px;
  clip-path: polygon(52% 85%, 1% 0, 100% 0);
 
}
.about-me  img {
  width: 800px;
  height: 700px;
  position: absolute;
  left: 130px;
  top: 195px;
  clip-path: polygon(52% 85%, 6% 0, 94% 0);
  
}
.about-me .big {
  filter: drop-shadow(10px 10px 25px black);
 }

.about-me .big .texts2 {
  padding: 15px 0 15px 0;
    width: 600px;
  height: 530px;
  background-color: yellow;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  text-align: center;
  transform: translateY(-50px);

}
.about-me .big .texts2 h3  {
  text-align: center;
  margin: 10px 0 20px 0;
  font-size: 50px;
  font-weight: 800;
  font-family: 'cairo',sans-serif;
  font-weight: 800;

}
.about-me .big .texts2 h5 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}
.about-me .big .texts2 p{
  font-size: 28px;
  padding: 0 40px;
  font-weight: 500;
  text-align: center;
}
.about-me .big .texts2 button {
  margin: 20px 0 20px 0;
  padding: 3px  20;
  font-size: 15px;
}
 /* --------------skills***********/
 .skills {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 0 100px 0;
  position: relative;

 }

 .skills .card {
  width: 25%;
  background-color: yellow;
  border-radius: 20px;
  text-align: center;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  box-shadow: 0 0 50px yellow;
  transition: all 1s;
 }
 .skills .card:hover {
  transform: scale(1.07);
 }
.alone {
  background-color: black;
}
.alone h1{
  color: yellow;
  align-items: center;
  font-family: 'cairo', sans-serif;
  font-size: 60px;
  transform: translateX(850px);
  padding-top: 50px;
} 
 .skills .card i {
  font-size: 40px;
  margin: 40px 0 10px 0 ;
 }
 .skills .card h1 {
  font-size: 40px;
  margin: 15px 0 ;
  font-family: 'Cairo', sans-serif;
 }
 .skills .card p {
  font-size: 20;
  margin-bottom: 15px;
  padding: 0 20px;

 }

 .skills .card button {
 padding: 5px 15px;
 font-size: 15px;
 margin-bottom: 10px;

 }

  /* --------------latest project***********/

  .latest {
    background-color: yellow;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .latest h1 {
    text-align: center;
    font-family: 'cairo',sans-serif;
    font-size: 50px;
    margin: 20px 0 20px 0;
  }
  .latest .all-images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
  }
  .latest .all-images div{
    width: 26%;
    margin: 20px;
    border-radius: 20px;
    position: relative;
    position: relative;
    overflow: hidden;
  }

    

  .latest .all-images div img{
    border: 5px solid black;
    width: 100%;
    position: relative;
    border-radius: 20px;
    left: 0;
    top: 0;
  }
  .latest .all-images div div {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top , black ,transparent);
    left: -20px;
    bottom: -300px;
  }

  .latest .all-images div div i {
    font-size: 40px;
    margin-top: 20px;
  }

   /* --------------valuable***********/

   .slider {
    width: 100%;
    background-color: black;
    padding-bottom: 50px;
    
   }
   .slider h1 {
    font-size: 50px;
    color: yellow;
    font-family: 'cairo', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
   }

   .slider .wrapper{
    box-shadow: 0 0 40px yellow;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    width: 40%;
    background-color: yellow;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 100px;
    
   }
   .slider .wrapper .card-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
   }

   .slider .wrapper .card-one img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 5px solid black;
   }
   .slider .wrapper .card-one h2 {
    font-size: 40px;
    margin: 10px 0 10px 0;
   }
   .slider .wrapper .card-one p {
    padding: 20px 0 20px 0;
    font-size: 20px;
    text-align: center;
   }

   .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    
    list-style-type: none;
  }
      li {
        margin: 0 0.25rem;
      }
    
      .slick-dots button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        
        border: none;
        border-radius: 100%;
        background-color: yellow;
        
        text-indent: -9999px;
      }
    
      li.slick-active button {
        background-color:black;
      }

      .fa-chevron-right {
        position: absolute;
        right:-35px;
        color: yellow;
        top: 45%;
        font-size: 50px;
      }
      .fa-chevron-left {
        position: absolute;
        left:-35px;
        color: yellow;
        top: 45%;
        font-size: 50px;
      }

      /* --------------CONTACT -ME***********/


      .contact-me {
        width: 100%;
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .contact-me h1 {
        padding: 100px 0;
        font-size: 40px;
        margin-right: 20px;
        text-align: center;
        font-family: 'cairo', sans-serif;
      }
@media (max-width:768) {
    nav {
        display : none
    }
    
}

    

  
